.date-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3px;
  width: 100%;
  position: relative;
}
.datepicker-container {
  position: relative;
  width: 100%;
}

.input {
  height: 50px;
  font-size: 13px;
  width: 100%;
  padding: 5px 10px;
  outline: none;
  color: gray;
  border: none;
  border-bottom: 1px solid #646464;
  border-radius: 2px;
  background: rgb(243, 243, 243) !important;
}
.input:hover{
  background: rgb(230, 230, 230) !important;

}
::ng-deep .datepicker-outer-container {
  position: absolute !important;
  z-index: 1000 !important;
  top: 100% !important;
  left: 0 !important;
  width: 100% !important;
}

::ng-deep .datepicker-outer-container.ui-is-visible {
  display: block !important;
}

::ng-deep .datepicker-outer-container.ui-is-visible.top {
  top: auto !important;
  bottom: 100% !important;
}
